<nav>
    <ul>
        <li><NavLink href="/">🏠 Home</NavLink></li>
        <li><NavLink href="/students">📚 Student List</NavLink></li>
        <li><NavLink href="/add-student">➕ Add Student</NavLink></li>
        <li><NavLink href="/developer-tools">🛠 Developer Tools</NavLink></li>
    </ul>
</nav>
